In [9]:
import pandas as pd
df  = pd.read_csv("/home/gamer456148/Downloads/UniversalBank.csv")
print(df)

        ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0        1   25           1      49     91107       4    1.6          1
1        2   45          19      34     90089       3    1.5          1
2        3   39          15      11     94720       1    1.0          1
3        4   35           9     100     94112       1    2.7          2
4        5   35           8      45     91330       4    1.0          2
...    ...  ...         ...     ...       ...     ...    ...        ...
4995  4996   29           3      40     92697       1    1.9          3
4996  4997   30           4      15     92037       4    0.4          1
4997  4998   63          39      24     93023       2    0.3          3
4998  4999   65          40      49     90034       3    0.5          2
4999  5000   28           4      83     92612       3    0.8          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
...        ...            ...                 ...         ...     ...
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

      CreditCard
0              0
1              0
2              0
3              0
4              1
...          ...
4995           0
4996           0
4997           0
4998           0
4999           1

[5000 rows x 14 columns]

In [12]:
df = df.drop(columns=['ID', 'ZIP Code'])

In [13]:
# Drop code from previous sample assignment

In [14]:
print (df.head())

   Age  Experience  Income  Family  CCAvg  Education  Mortgage  Personal Loan  \
0   25           1      49       4    1.6          1         0              0
1   45          19      34       3    1.5          1         0              0
2   39          15      11       1    1.0          1         0              0
3   35           9     100       1    2.7          2         0              0
4   35           8      45       4    1.0          2         0              0

   Securities Account  CD Account  Online  CreditCard
0                   1           0       0           0
1                   1           0       0           0
2                   0           0       0           0
3                   0           0       0           0
4                   0           0       0           1

In [15]:
intColumns = [c for c in df.columns if df[c].dtype == 'int']
intColumns.remove('Personal Loan')
df[intColumns] = df[intColumns].astype('float64')

In [20]:
pip install dmba

Collecting dmba
  Downloading https://files.pythonhosted.org/packages/44/7e/22fc51d7f54ac4662c5edcf0133083499bbea91bd6a6beb0c5b13f565a20/dmba-0.0.13-py3-none-any.whl
Installing collected packages: dmba
Successfully installed dmba-0.0.13
Note: you may need to restart the kernel to use updated packages.

In [22]:
%matplotlib inline
import warnings
from pathlib import Path
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
from dmba import classificationSummary
train_df, valid_df = train_test_split(df, test_size=0.4, random_state=1)
print('Training set:', train_df.shape, 'Validation set:', valid_df.shape)
# Traing set for example assignment, used standard data frame
# Random state is 1, test size is 0.4 (40%)

Training set: (3000, 12) Validation set: (2000, 12)

In [24]:
pd.pivot_table(df, 
               values='CreditCard',
               index=['Personal Loan'],
               columns=['Online'],
               aggfunc='count'
              )

Online          0.0   1.0
Personal Loan
0              1827  2693
1               189   291

In [28]:
pd.pivot_table(df, 
               values='Personal Loan',
               index=['CreditCard'],
               columns=['Online'],
               aggfunc='count'
              )

Online       0.0   1.0
CreditCard
0.0         1428  2102
1.0          588   882

In [30]:
import numpy as np

In [31]:
# Source: https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html
rng = np.random.RandomState(1)

In [34]:
X = 'Personal Loan'

In [35]:
Y = 'CreditCard'

In [36]:
 from sklearn.naive_bayes import MultinomialNB

In [37]:
clf = MultinomialNB()

In [43]:
# clf.fit(X, Y)
# MultinomialNB()
# Ran into "Expected 2D array, got scalar array instead:" error

In [44]:
# P(X=1|Y=1) =
# Ran into invalid syntax

In [47]:
# predict(X)
# For some reason it doesn't predict the predict function, even when I import the sklearn class

In [48]:
import numpy as np

In [53]:
#    P(CC=1|Loan=1) =
#    P(Online=1|Loan=1)
#    P(Loan=1) =
#    P(CC=1|Loan=0)
#    P(Online=1|Loan=0)
#    P(Loan=0)

In [82]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.naive_bayes import GaussianNB
# model = GaussianNB()
# model.fit(X, Y);
# Ran into: Expected 2D array, got scalar array instead
# Source: https://jakevdp.github.io/PythonDataScienceHandbook/05.05-naive-bayes.html

In [80]:
import warnings
warnings.filterwarnings('ignore')
# array= 'Personal Loan'
# array.reshape(-1, 1)
# Ran into AttributeError: 'str' object has no attribute 'reshape'
# Source: https://stackoverflow.com/questions/37504274/attributeerror-str-has-no-attribute-shape
# Got confused on my indexing

In [66]:
1827/2693

0.6784255477163015

In [67]:
189/291

0.6494845360824743

In [68]:
1428/2102

0.6793529971455756

In [69]:
588/882

0.6666666666666666

In [78]:
# P(L=1-0.6495|CC=1-0.6666,Online=1)

In [72]:
1-0.6495

0.35050000000000003

In [73]:
1-0.6666

0.33340000000000003

In [79]:
# P(0.3505|0.3334,1) //P command not detected

In [75]:
0.3505/0.3334

1.0512897420515896

In [77]:
# 5.1289%

In [92]:
s = pd.Series(list(df))

In [93]:
pd.get_dummies(s)

,Age,CCAvg,CD Account,CreditCard,Education,Experience,Family,Income,Mortgage,Online,Personal Loan,Securities Account
0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0
7,0,0,0,0,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,0,0,0,0,0,1
9,0,0,1,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,1,0,0
11,0,0,0,1,0,0,0,0,0,0,0,0

In [95]:
pd.get_dummies(df, dummy_na=True)

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25.0,1.0,49.0,4.0,1.6,1.0,0.0,0,1.0,0.0,0.0,0.0
1,45.0,19.0,34.0,3.0,1.5,1.0,0.0,0,1.0,0.0,0.0,0.0
2,39.0,15.0,11.0,1.0,1.0,1.0,0.0,0,0.0,0.0,0.0,0.0
3,35.0,9.0,100.0,1.0,2.7,2.0,0.0,0,0.0,0.0,0.0,0.0
4,35.0,8.0,45.0,4.0,1.0,2.0,0.0,0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29.0,3.0,40.0,1.0,1.9,3.0,0.0,0,0.0,0.0,1.0,0.0
4996,30.0,4.0,15.0,4.0,0.4,1.0,85.0,0,0.0,0.0,1.0,0.0
4997,63.0,39.0,24.0,2.0,0.3,3.0,0.0,0,0.0,0.0,0.0,0.0
4998,65.0,40.0,49.0,3.0,0.5,2.0,0.0,0,0.0,0.0,1.0,0.0
4999,28.0,4.0,83.0,3.0,0.8,1.0,0.0,0,0.0,0.0,1.0,1.0

In [99]:
df = pd.DataFrame({'Age': ['25', '39', '45'], 'CCAvg': ['1', '1.5', '2.0'],
                   'Online': [0, 0, 1]})

In [101]:
pd.get_dummies(df, prefix=['Age', 'CCAvg'])

   Online  Age_25  Age_39  Age_45  CCAvg_1  CCAvg_1.5  CCAvg_2.0
0       0       1       0       0        1          0          0
1       0       0       1       0        0          1          0
2       1       0       0       1        0          0          1

In [102]:
# Source: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html
# Running pandas get dummies function

In [103]:
import numpy as np

In [104]:
rng = np.random.RandomState(1)

In [105]:
X = rng.randint(5, size=(6, 100))

In [106]:
y = np.array([1, 2, 3, 4, 5, 6])

In [107]:
from sklearn.naive_bayes import MultinomialNB

In [108]:
clf = MultinomialNB()

In [109]:
clf.fit(X, y)
MultinomialNB()

MultinomialNB()

In [110]:
print(clf.predict(X[2:3]))

[3]

In [112]:
# Exercise Source: https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html

In [113]:
X = rng.randint(2, size=(0, 5000))

In [114]:
y = np.array([1, 2, 3, 4, 5, 9])

In [115]:
clf = MultinomialNB()

In [118]:
# Failed using estimator argument

In [120]:
def benchmark(clf):
    print('_' * df)

In [122]:
# print(clf.predict(df))
# Got: This MultinomialNB instance is not fitted yet
# Let me try fitting

In [131]:
# clf.fit(df, y)
# MultinomialNB()
# except ValueError:
   # pass

# I tried, ran into a value error. Tried ignoring + printed, then had this annoying synax problem for calling

In [134]:
# model.predict_proba(benchmark)[:,1]

# Error
# ---------------------------------------------------------------------------
# NotFittedError: This GaussianNB instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.